[Unit]
Description=Victoria Metrics Server
After=network-online.target

[Service]
User=raph
Restart=on-failure
CPUAccounting=1
CPUWeight=20
CPUQuota=60%
MemoryAccounting=1
MemoryHigh=750M
MemoryMax=1000M
ExecStart=/etc/prometheus/prometheus \
  --config.file=/etc/prometheus/prometheus.yml \
  --storage.tsdb.path=/etc/prometheus/data \
  --storage.tsdb.retention.time=30d

[Install]
WantedBy=multi-user.target
