@import './var.scss';

.accordion-li {

  &__trigger {
    height: 22px;
    font-family: $font;
    font-size: 14px;
    font-weight: normal;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    @include handle-data-depth(12px, 0);

    &[data-highlighted], &:hover, &:focus {
      @include light-glow;
    }
    
    &__triangle {
      margin-right: 4px;
    }
  }
  &__label {
    margin-left: 4px;
  }
}