@import './var.scss';

.app {
  display: grid;
  grid-template-rows: $header-height calc(100vh - $header-height);
  grid-template-columns: $nav-width calc(100vw - $nav-width);
  grid-template-areas: "header header"
                       "nav main";

  header { grid-area: header; }
  nav { grid-area: nav; }
  main { grid-area: main; }
}

@media (max-width: $mobile-width) {
  .app {
    display: block;
  }
}
