@import './var.scss';

* {
  scrollbar-width: thin;
  scrollbar-color: $border-1 $background-0;
}

body {
  margin: 0;
  padding: 0;
  background-color: $background-0;
  color: $font-color;
  font-family: $font;

  &:has(> .error-message) {
    display: block;
    height: 100vh;
  }
}

main {
  margin: 0;
  padding: 0;
}

button, input {
  all: unset;
}

p {
  color: $font-color-paragraph;
}

a {
  color: $primary;

  &:hover {
    color: lighten($primary, 20);
  }
}

img {
  font-size: 0;
}
