@import './var.scss';

.header {
  background-color: $background-3;
  border-bottom: solid 1px $background-3;
  width: 100%;
  height: $header-height;
  display: flex;
  align-items: center;
  padding: 0 32px;
  box-sizing: border-box;
  top: 0;

  &__title {
    margin: 0;
    margin-left: 12px;
    font-size: 18px;
  }
  &__logo {
    height: 32px;
    width: 32px;
  }
  &__region-label {
    margin-left: auto;
  }
  &__title-link {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: $font-color;

    &:hover {
      color: $font-color;
    }
  }
  &__nav {
    display: flex;
    gap: 8px;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-left: 32px;
    list-style: none;
  }
  &__nav-item {
    list-style: none;
    height: 100%;

    &--active .header__link {
      color: $font-color;
    }
  }
  &__link {
    color: $font-color-light;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 4px;
    letter-spacing: .8px;
    font-size: 14px;
    box-sizing: border-box;
    padding-top: 2px;

    &:hover {
      color: $font-color;
    }
  }
  &__dropdown {
    position: fixed;
    z-index: 100;
    top: $header-height;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $background-2;
    display: none;
    flex-direction: column;
    padding: 16px 16px;

    &--open {
      display: flex;
    }
  }
  &__trigger {
    margin-left: auto;
    padding: 0 16px;
    height: 32px;
    background-color: $background-1;
    border: 1px solid $border-1;
    @include sharp-border-radius-left(1px, 10px, $border-1);
  }
}

@media (max-width: $mobile-width) {
  .header--desktop {
    display: none;
  }
  .header {
    position: sticky;
    z-index: 10;
    top: 0;
    padding: 0 16px;

    &__nav {
      margin: 0;
      height: unset;
      flex-direction: column;
    }
    &__nav-item {
      border-bottom: solid 1px $border-1;
      height: unset;

      &--active {
        border-bottom: solid 1px $border-2;
      }
    }
    &__link {
      height: unset;
      font-size: 16px;
    }
    &__region {
      margin-top: 16px;
      margin-left: auto;
    }
  }
}

@media (min-width: #{1+$mobile-width}) {
  .header--mobile {
    display: none;
  }
}
