@import './var.scss';

.header {
  background-color: $background-3;
  border-bottom: solid 1px $background-3;
  width: 100%;
  height: $header-height;
  display: flex;
  align-items: center;
  padding: 0 32px;
  box-sizing: border-box;
  position: sticky;
  top: 0;

  &__title {
    margin: 0;
    margin-left: 12px;
    font-size: 18px;
  }
  &__logo {
    height: 32px;
    width: 32px;
  }
  &__region-label {
    margin-left: auto;
  }
  &__title-link {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: $font-color;

    &:hover {
      color: $font-color;
    }
  }
  &__nav {
    display: flex;
    gap: 8px;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-left: 32px;
    list-style: none;
  }
  &__nav-item {
    list-style: none;
    height: 100%;

    &--active .header__link {
      color: $font-color;
    }
  }
  &__link {
    color: $font-color-light;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 4px;
    letter-spacing: .8px;
    font-size: 14px;
    box-sizing: border-box;
    padding-top: 2px;

    &:hover {
      color: $font-color;
    }
  }
}
