@import './var.scss';

.item-page {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.item-header {
  width: 100%;
  display: flex;
  gap: 8px;
  margin-bottom: 16px;

  &__icon {
    grid-area: icon;
    width: 64px;
    height: 64px;
  }
  &__info {
    grid-area: info;
    min-height: 64px;
  }
  &__breadcrumbs {
    font-size: 14px;
    color: $font-color-light;

    button:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &__name {
    margin: 0;
    font-size: 20px;
  }
  &__name-box {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  &__target {
    display: flex;
    align-items: center;
    opacity: 0.6;
    padding: 2px;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
  &__action {
    grid-area: action;
    margin-left: auto;
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
    height: min-content;
    justify-content: flex-end;

    button {
      height: 28px;
      box-sizing: border-box;
    }
  }
  
  &__volume {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    color: $font-color-secondary;
  }
  &__volume-icon {
    width: 14px;
    height: 14px;
    opacity: 0.7;
    transform: translate(0, -0.5px);
  }

  @media (max-width: 900px) {
    display: grid;
    row-gap: 16px;
    grid-template-columns: min-content auto;
    grid-template-areas: "icon info"
                         "action action";
  }
}

.item-body {
  width: 100%;
  height: 100%;
  min-height: 0;

  &__tabs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__tab {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
}

.item-skeleton {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 16px;
  
  &__header {
    display: flex;
    gap: 8px;
  }
  &__icon {
    width: 64px;
    height: 64px;
    @include skeleton-bg;
  }
  &__breadcrumbs {
    margin: 2px 0;
    width: 250px;
    height: 14px;
    @include skeleton-bg;
  }
  &__name {
    margin: 6px 0;
    width: 100px;
    height: 22px;
    @include skeleton-bg;
  }
}

.market-data {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__heading {
    margin: 0;
    font-size: 18px;
  }
  &__section {
    height: 100%;
    min-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  &__separator {
    width: 100%;
    height: 1px;
    background-color: $border-1;
    margin: 8px 0;
  }
  &__table {
    height: 100%;
    overflow: auto;
  }
}

.price-history {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: max-content auto;

  &__fallback {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 10%;
  }
  &__legend {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    gap: 12px;
  }
  &__label {
    font-size: 14px;
    color: $font-color-light;
    display: flex;
    gap: 2px;
    text-wrap: nowrap;
  }
  &__container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  &__tooltip {
    background-color: $background-1;
    border: solid 1px $border-1;
    box-shadow: 0 0 8px #000b;
    font-size: 14px;
    padding: 12px;
    position: absolute;
    visibility: hidden;

    &--active {
      visibility: visible;
    }
  }

  &__avg-icon {
    margin: 5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #950;
  }
  &__minmax-icon {
    margin: 2px 7px 2px 8px;
    width: 1px;
    height: 12px;
    background-color: #666;
  }
  &__avg5d-icon {
    margin: 7px 2px;
    width: 12px;
    height: 2px;
    background-color: #256;
  }
  &__avg20d-icon {
    margin: 7px 2px;
    width: 12px;
    height: 2px;
    background-color: #641;
  }
  &__donchian-icon {
    margin: 2px;
    width: 12px;
    height: 12px;
    background-color: #bce2;
  }
  &__volume-icon {
    margin: 2px;
    width: 12px;
    height: 12px;
    background-color: #245;
  }
}

@media (max-width: $mobile-width) {
  // TODO: Check if thats relvent
  .market-data .table {
    max-height: 70vh;
    min-height: 20vh;
  }

  .price-history {
    height: 70vh;
  }
}

.security {
  font-weight: bold;
  font-size: 14px;
  // TODO: fix size
  line-height: 16px;
  color: #892860;
  margin-right: 6px;

  &[data-sec="1.0"] { color: #2679d5 }
  &[data-sec="0.9"] { color: #339cd9 }
  &[data-sec="0.8"] { color: #4ac5de }
  &[data-sec="0.7"] { color: #65d4a9 }
  &[data-sec="0.6"] { color: #7add56 }
  &[data-sec="0.5"] { color: #e5e98a }
  &[data-sec="0.4"] { color: #d37103 }
  &[data-sec="0.3"] { color: #ca4108 }
  &[data-sec="0.2"] { color: #ba060f }
  &[data-sec="0.1"] { color: #781a1a }
}

.show-info {
  height: 600px;
  width: 380px;
  max-height: 80vh;

  &:has(&__error) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__tirgger img {
    margin-right: 4px;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  &__header-icon {
    height: 32px;
    width: 32px;
  }
  &__header-close {
    height: 14px;
    width: 14px;
    margin-left: auto;
    padding: 9px;
  }
  &__header-title {
    font-size: 18px;
    margin: 0;
    margin-left: 8px;
  }

  &__banner {
    display: flex;
    color: $font;
    margin-bottom: 8px;
    gap: 8px;
    font-size: 16px;
  }

  &__tab-root {
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: max-content auto;
  }
  &__tab {
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
  }

  &__description {
    padding: 8px;
    font-size: 13px;
  }

  &__line {
    display: flex;
    align-items: center;
    padding: 3px;
    font-size: 13px;

    &:hover {
      background: $background-2;
    }
  }
  &__line-icon {
    width: 22px;
    height: 22px;
  }
  &__line-label {
    margin-left: 4px;
    display: flex;
    align-items: center;
  }
  &__line-value {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  &__line-title {
    font-size: 13px;
    padding: 4px 6px;
    background-color: $background-3;
  }
  &__line-link {
    margin-left: auto;
    text-decoration: none;
    padding: 2px 6px;
    font-size: 12px;
  }

  &__attributes, &__industry {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
}
