@import './var.scss';

.item-page {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.item-header {
  width: 100%;
  height: 80px;
  display: flex;
  gap: 8px;

  &__icon {
    width: 64px;
    height: 64px;
  }
  &__breadcrumbs {
    font-size: 14px;
    color: $font-color-light;
  }
  &__name {
    margin: 0;
    font-size: 20px;
  }
  &__action {
    margin-left: auto;
  }
}

.item-body {
  width: 100%;
  height: 100%;
  min-height: 0;

  &__tabs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__tab {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
}

.item-skeleton {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 16px;
  
  &__header {
    display: flex;
    gap: 8px;
  }
  &__icon {
    width: 64px;
    height: 64px;
    @include skeleton-bg;
  }
  &__breadcrumbs {
    margin: 2px 0;
    width: 250px;
    height: 14px;
    @include skeleton-bg;
  }
  &__name {
    margin: 6px 0;
    width: 100px;
    height: 22px;
    @include skeleton-bg;
  }
}

.market-data {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__heading {
    margin: 0;
    font-size: 18px;
  }
  &__section {
    height: 100%;
    min-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  &__separator {
    width: 100%;
    height: 1px;
    background-color: $border-1;
    margin: 8px 0;
  }
  &__table {
    height: 100%;
  }
}

.price-history {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-2;
  border-radius: 4px;
  border: solid 1px $border-1;
  font-size: 18px;
}
