@import './var.scss';

.nav {
  width: 100%;
  height: 100%;
  background-color: $background-2;

  &__market-groups {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.nav-item {
  text-decoration: none;
  font-size: 14px;
  font-family: $font;
  font-weight: normal;
  color: $font-color;
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
  @include handle-data-depth(12px, 12px);

  &:hover, &:focus {
    @include light-glow;
  }
}

.nav-group {

  &__icon {
    width: 18px;
    height: 18px;
  }
}