@import './var.scss';

.nav {
  $sponsors-height: 0px;
  width: 100%;
  height: 100%;
  background-color: $background-2;
  border-right: solid 1px $background-3;
  padding: 4px;
  box-sizing: border-box;

  &__tabs {
    height: calc(100% - $sponsors-height);
    width: 100%;
    display: grid;
    grid-template-rows: max-content auto;
  }
  &__tab {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
  }

  &__sponsors {
    height: $sponsors-height;
    overflow: hidden;
  }
}
