@import './var.scss';

.quickbar {
  height: 100%;
  display: grid;
  grid-template-rows: max-content auto;

  &--drop {
    outline: ridge $primary 2px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 0 4px;
    margin-bottom: 8px;
  }
  &__options {
    display: flex;
    gap: 8px;
  }
  &__actions {
    display: flex;
    gap: 8px;
  }
  &__button {
    height: 24px;
    width: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: white;
    }
  }
  &__empty {
    margin: 150px auto 0 auto;
    color: $font-color-light;
  }
  &__tree {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0;
  }
}

.quickbar-folder {
  font-family: $font;
  font-size: 14px;
  font-weight: normal;
  color: $font-color;
  background-color: $background-2;
  
  @for $i from 1 through 20 {
    &[data-depth="#{$i}"] {
      --depth: #{$i};
    }
  }

  &:focus-visible {
    outline: ridge $primary 2px;
  }
  &[data-state=open] > &__trigger &__triangle {
    transform: rotate(90deg);
  }
  &--drop {
    outline: ridge $primary 2px;
  }
  &--drag > &__trigger {
    background-color: transparent !important;
    color: $font-color-light;
  }

  &__trigger {
    background-color: $background-3;
    height: 22px;
    padding-left: calc(var(--depth) * 16px);
    display: flex;
    align-items: center;
    gap: 4px;
    user-select: none;
    transition: background-color 100ms;
    white-space: nowrap;
    overflow: hidden;
    
    &:hover {
      background-color: $primary-3;
    }
  }
  &__label {
    min-width: 0;
  }
  &__triangle {
    width: 15px;
    height: 15px;
    flex-shrink: 0;
  }
  &__content {
    list-style: none;
    padding: 0;
  }
}

.quickbar-item {
  height: 20px;
  background-color: transparent;
  transition: background-color 100ms;
  position: relative;

  @for $i from 1 through 20 {
    &[data-depth="#{$i}"] {
      --depth: #{$i};
    }
  }

  &:focus-visible {
    outline: ridge $primary 2px;
  }
  &:hover {
    background-color: $primary-3;
  }
  &[aria-selected=true] {
    background-color: $primary-1;
  }
  &--drag {
    background-color: transparent !important;
    
    .quickbar-item__link {
      color: $font-color-light;
    }
  }

  &__link {
    padding-left: calc(var(--depth) * 16px + 4px);
    font-family: $font;
    font-size: 14px;
    font-weight: normal;
    color: $font-color;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
