@import './var.scss';

.tree, .tree-node-group, .tree-branch-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}

.tree-node {
  padding-left: calc(var(--depth) * 16px);
  height: 22px;
  display: flex;
  align-items: center;
  list-style: none;
  overflow: hidden;
  white-space: nowrap;
  gap: 4px;
  font-family: $font;
  font-size: 14px;
  font-weight: normal;
  color: $font-color;
  outline: none;
  user-select: none;
  transition: background-color 100ms;

  &--focused {
    @include light-glow;
    transition: none;
    
    &:has(> .selected) {
      @include glow;
    }
  }
  &:hover {
    transition: none;
    @include light-glow;
  }

  > span {
    min-width: 0;
  }
}

.tree-node__leaf {
  height: 20px;
  padding-left: calc(var(--depth) * 16px + 4px);
  width: 100%;
  box-sizing: border-box;
  color: $font-color;
  text-decoration: none;

  &:has(> .selected) {
    background-color: darken($accent, 33);
  }
}

.tree-node-icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.tree-node-triangle {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}