// @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@font-face {
  font-family: evesansneue;
  src: url('/fonts/evesansneue-regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: evesansneue;
  src: url('/fonts/evesansneue-italic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
  ascent-override: 200%;
}
@font-face {
  font-family: evesansneue;
  src: url('/fonts/evesansneue-bold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: evesansneue;
  src: url('/fonts/evesansneue-bolditalic.woff') format('woff');
  font-style: italic;
  font-weight: bold;
}


$font: evesansneue, helvetica, arial;
// $font-fancy: "Dancing Script";

$primary: #58A7BF;
$alert: #F39058;

$primary-0: darken($primary, 22);
$primary-1: darken($primary, 30);
$primary-2: darken($primary, 36);
$primary-3: darken($primary, 45);

$background-0: #05070B;
$background-1: #05070B;
$background-2: #111317;
$background-3: #1C1E21;
$background-4: #232627;

// $background-0: #151819;
// $background-1: #0f1213;
// $background-2: #202021;
// $background-3: #242427;
// $background-4: #29ff33;

$border-0: #1c1f20;
$border-1: #343638;
$border-2: #515355;

$font-color: #d8d9da;
$font-color-paragraph: #c8c9ca;
$font-color-light: #8e8b8f;

$error-0: #842626;

$header-height: 48px;
$nav-width: 250px;

// media values
$mobile-width: 500px;

@keyframes skeleton-shine {
  to {
    background-position-x: -200%;
  }
}

@mixin skeleton-bg($color: $background-2) {
  background-color: $color;
  background: linear-gradient(90deg, lighten($color, 1) 8%, lighten($color, 3) 18%, lighten($color, 1) 33%) $color;
  background-size: 200% 100%;
  animation: 1.5s skeleton-shine linear infinite;
  border-radius: 4px;
}

// TODO: remove light-glow and glow from codebase
@mixin light-glow() {
  background-color: $primary-3;
}

@mixin glow() {
  background-color: $primary-2;
}
  
@mixin handle-data-depth($step: 16px, $offset: 0px) {
  @for $depth from 0 to 10 {
    &[data-depth="#{$depth}"] {
      padding-left: #{$step * $depth + $offset};
    }
  }
}

@mixin sharp-border-radius-right(
  $border_width: 1px,
  $radius: 10px,
  $color: #777777,
  $bg_color: transparent,
  $radius_obj: '&::before'
){
  position: relative;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - $radius + 1.5px),
    calc(100% - $radius + 1.5px) 100%,
    0 100%,
  );

  #{$radius_obj}{
    position: absolute;
    content: "";
    display: block;
    right: -#{$border_width};
    bottom: -#{$border_width};
    width: 0;
    height: 0;
    border-left: solid transparent $radius;
    border-bottom: solid $color $radius;
  }
}

@mixin sharp-border-radius-left(
  $border_width: 1px,
  $radius: 10px,
  $color: #777777,
  $bg_color: transparent,
  $radius_obj: '&::before'
){
  position: relative;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    calc($radius - 1.5px) 100%,
    0 calc(100% - $radius + 1.5px),
  );

  #{$radius_obj}{
    position: absolute;
    content: "";
    display: block;
    left: -#{$border_width};
    bottom: -#{$border_width};
    width: 0;
    height: 0;
    border-right: solid transparent $radius;
    border-bottom: solid $color $radius;
  }
}
