
@font-face {
  font-family: evesansneue;
  src: url('/fonts/evesansneue-regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: evesansneue;
  src: url('/fonts/evesansneue-italic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
  ascent-override: 200%;
}
@font-face {
  font-family: evesansneue;
  src: url('/fonts/evesansneue-bold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: evesansneue;
  src: url('/fonts/evesansneue-bolditalic.woff') format('woff');
  font-style: italic;
  font-weight: bold;
}


$font: evesansneue, helvetica, arial;

$primary: #58A7BF;
$accent: #58A7BF;
$alert: #F39058;

$background-0: #0a0c0e;
$background-1: #0f1213;
$background-2: #151819;
$background-3: #1c1f20;

$border-0: #1c1f20;
$border-1: #343638;
$border-2: #515355;

$font-color: #c8c9ca;
$font-color-light: #8e8b8f;


@mixin light-glow($color: $accent) {
  background-color: darken($color, 40);
  // box-shadow:
  //   inset 0 0 12px darken($color, 43),
    // 0 0 4px transparentize($color, 1);
}

@mixin glow($color: $accent) {
  background-color: darken($color, 22);
  box-shadow:
    inset 0 0 12px darken($color, 30),
    0 0 4px darken($color, 30);
}
  
@mixin handle-data-depth($step: 16px, $offset: 0px) {
  @for $depth from 0 to 10 {
    &[data-depth="#{$depth}"] {
      padding-left: #{$step * $depth + $offset};
    }
  }
}

@mixin sharp-border-radius(
  $border_width: 1px,
  $radius: 10px,
  $color: #777777,
  $bg_color: transparent,
  $radius_obj: '&::before'
){
  position: relative;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - $radius + 2px),
    calc(100% - $radius + 2px) 100%,
    0 100%,
  );

  #{$radius_obj}{
    position: absolute;
    content: "";
    display: block;
    right: -#{$border_width};
    bottom: -#{$border_width};
    width: 0;
    height: 0;
    border-left: solid transparent $radius;
    border-bottom: solid $color $radius;
  }
}